@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SHUDDER</h1>
    <p class="lead">SHUDDER Lorem Ipsum....</p>
    <p>@Html.ActionLink("HUD Test »", "HudTest",null, new {@class="btn btn-primary btn-lg" } )
</div>

<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Hud Test","HudTest")</h2>
        <p>
            Load up the test page.&raquo;
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <tn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>